
body {
    background-color: #b0b9a8;
}

.Bandeau {
    display: flex;
    top: 1%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #b8cbd0;
    margin-left: -1%;
    margin-right: auto;
    margin-top: -1%;
    height: 50px;
}

.Bandeau2 {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
}

.BoutonsBandeau {
    padding: 1%;
    display: inline;
    text-decoration: none;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    color: #ffffff;
    border-color: #ffffff;
    background-color: #b8cbd0;
    height: 10px;
    align-items: center;    
    justify-content: center;
    margin-left: 5%;
    line-height: 10px;
}
.BoutonsBandeau:hover {
    background-color: #c8e2cb;
}

.Boutons {
    padding: 1%;
    display: flex;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    background-color: #b8cbd0;
    text-align: center;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.ContactsText {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #476b75;
    font-size: 70%;
    margin-left: 30%;
    margin-right: 30%;
    color: #ffffff;
    padding: 5px;
    
}

.ImageRetour {
    height: 15px;
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.LogoSite {
    padding-left: 2%;
    margin-bottom: 30px;
    height: 40px;
}

.Paragraphe {
    text-align: center;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: #476b75;
    text-decoration: underline;
}

.Image {
    height: 200px;
    padding-left: 4%;

}
.AlignImage {
    justify-content: flex-start;
}

.Liste2 {
    align-items: center;
    list-style: disc;
    border-radius: 2%;
    background-color:#85999e;
    color: #FFF;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
    height: 50%;
    padding-bottom: 1%;
    margin-left: 2%;
}

.Explications {
    font-size: 100%;
    color: #ffffff;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 2%;
}

.Background {
    align-items: center;
    display: flex;
}

.DivVideo {
    margin-left: auto;
    margin-right: auto;
    bottom: 100px;

}

.Video {
    height: 170px;
    width: 300px;
    align-items: center;
}

.VideoText {
    font-size: 150%;
    color: #476b75;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}


.ListeTrain {
    color: #ffffff;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 10%;

}
.AGCButton {
    background-color: #85999e;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 75%;
    border-style: solid;
    border-color: #a0bcc4 ;
    border-width: 5px;
    border-radius: 10px;
    justify-content: flex-start;
}

.AGCButton:hover {
    background-color: #476b75;
}

.ImageListe {
    height: 50px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10px;
}
.Liste {
    background-color: #476b75;
}

.menu {
    height: 60px;
    list-style: none;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 16px;
}

.menu li {
    float: left;
    width: 200px;
}

.menu li a:link, .menu li a:visited {
    display: block;
    block-size: 20px;
    color: #FFF;
    background: #b8cbd0;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", Sans-serif;
    margin-left: 10px;
    border-right: 1px solid white;

}


.menu .sousmenu {
    list-style-type: none;
    display: none;
    padding: 0;
    position: absolute;
}

.menu .sousmenu li {
    float: none;
    margin: 0;
    padding: 0;
}

.menu .sousmenu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: #b8cbd0;
    font-family: "Montserrat", Sans-serif;
    padding-left: 16px;
    
}

.menu .sousmenu li a:hover {
    background-color: #199BD2;
}

.menu li:hover .sousmenu {
    display: block;
}

.GrandeImage {
    height: 500px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.Info {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #FFF;
}

.ImageContact {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.ImageContact img {
    width: 70%;
    height: 10%;
}

.ImageContact:hover {
        animation: bounce 2s infinite;
}

@keyframes bounce { 0%, 20%, 50%, 80%, 100% { transform: translateY(0); } 40% { transform: translateY(-30px); } 60% { transform: translateY(-15px); } }

.ImageMenu {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.ImageMenu img {
    width: 50%;
    height: 10%;
}

.Tableau {
    border: 2px solid white;
    width: 100%;
    border-collapse: collapse;
    background-color: #7aa7a4;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.Tableau tr td {
    color: white;
    border: 1px solid white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    height: 10px;
}