
body {
    background-color: #b0b9a8;
}

.Bandeau {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 1340px;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #b8cbd0;
    margin-left: -0.5%;
    margin-right: auto;
    margin-top: -1%;
}

.Bandeau2 {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
}

.BoutonsBandeau {
    padding: 1%;
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    background-color: #b8cbd0;
    text-align: left;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    margin-left: 5%;
}

.BoutonsBandeau:hover {
    background-color: #c8e2cb;
}

.Boutons {
    padding: 1%;
    display: flex;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    background-color: #b8cbd0;
    text-align: center;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.ImageRetour {
    height: 15px;
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.LogoSite {
    padding-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
}

.Paragraphe {
    text-align: center;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: #476b75;
    text-decoration: underline;
}

.Image {
    height: 200px;
    padding-left: 4%;

}
.AlignImage {
    justify-content: flex-start;
}

.Liste2 {
    align-items: center;
    list-style: disc;
    border-radius: 2%;
    background-color:#85999e;
    width: 50%;
    height: 50%;
    padding-bottom: 1%;
    margin-left: 2%;
}

.Explications {
    font-size: 100%;
    color: #ffffff;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 2%;
}

.Background {
    align-items: center;
    display: inline-flex;
}

.DivVideo {
    margin-left: auto;
    margin-right: auto;
}

.Video {
    height: 170px;
    width: 300px;
    align-items: center;
}

.VideoText {
    font-size: 150%;
    color: #476b75;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
