body {
    background-color:rgb(49, 49, 49);
    color: white;
}

.Menu  {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.liste {
    text-align: center;
    margin-left: 10%;
}

header {
    border-bottom: 1px solid black;
}

header nav div {
    display: inline-block;
    vertical-align: top;
}
